.about-container {
  /* padding: 40px 20px; */
  display: flex;
  border: none;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.large {
  grid-column: span 2;
  grid-row: span 2;
  object-fit: cover;
}

h1 {
  color: #ffffff;
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the items */
  padding: 20px;
  width: 80%;

  color: #333;
}

.details-container {
  background: #828282; /* White background for cards */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid #e0e0e0; /* Light border */
  text-align: center; /* Center text */
}

.title h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 10px;
}

.detail-description p {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
}
